@charset "UTF-8";
.text-numbers { color: #2A6650; }

.help, .domain, .myb { margin-top: 9rem !important; margin-bottom: 9rem !important; }

.ddos { padding-top: 300px; padding-bottom: 100px; }

.container p { font-size: 1.1rem; }

.discord { padding: 4rem 0; }

.bg-logo { background-color: #0C7235; color: white; }

.bg-block { background-color: #5CB089 !important; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { border-color: #0D9958; transition: all 0.4s; }

.navbar-light .navbar-nav .nav-link { display: block; padding: 2rem 0.7rem; border-bottom: 3px solid transparent; color: black; }

body { overflow-x: hidden; font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5 { color: #0D9958; font-family: 'Lato', sans-serif; }

.scrollprotection { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.borders::after, .borders::before, .footer::before, .slope-white-bottom::after, .slope-white-top::before { position: absolute; right: 0; left: 0; height: 200px; content: " "; display: block; background-position: center; background-repeat: no-repeat; background-size: cover; }

.slope-white-bottom::after { bottom: 0; background-image: url("../images/white-bottom.svg"); }

.slope-white-top::before { top: 0; background-image: url("../images/white-top.svg"); }

.borders::before, .footer::before { top: -100px; }

.borders::after { bottom: -100px; }

.block1::before { background-image: url("../images/block1-top.svg"); }

.block1::after { background-image: url("../images/block1-bottom.svg"); }

.block2::before, .footer::before { background-image: url("../images/block2-top.svg"); }

.block2::after { background-image: url("../images/block2-bottom.svg"); }

.bg-primary { background-color: #31845D !important; }

.text-primary { color: #31845D !important; }

.bg-secondary { background-color: #5CB089 !important; }

.text-secondary { color: #5CB089 !important; }

.bg-block a, .bg-logo a, .bg-primary a, .bg-secondary a { color: white !important; }

.btn { border-radius: 0; }

.btn-primary { color: #fff; background-color: #00BF66; border-color: #00BF66; box-shadow: 0 5px 20px -6px rgba(7, 145, 11, 0.65); }

.btn-primary:focus, .btn-primary:hover { color: #00BF66 !important; background-color: white; }

.btn-outline-primary { color: #00BF66; background-color: white; border-color: #00BF66; }

.btn-outline-primary:focus, .btn-outline-primary:hover { color: white; color: #00BF66; background-color: #00BF66; }

.bg-image { color: white; }

.navbar-brand img { max-height: 40px; }

.banner .top-nav { padding: 0.5rem 1rem; }

.home-welcome { min-height: 35vw; background-image: url("../images/screenshot.jpg"); background-size: cover; background-repeat: no-repeat; }

.vps { min-height: 20vw; background-image: url("../images/screenshot.jpg"); background-size: cover; background-repeat: no-repeat; }

.shadow { box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.09); }

img.shadow { padding: 10px; }

section header { text-align: center; }

section footer { position: absolute; right: 0; left: 0; text-align: right; padding: 0 2rem; }

section .container { position: relative; }

.container img { max-width: 100%; height: auto; }

.bg-block, .bg-image, .bg-primary, .bg-secondary { color: white; }

.bg-block h1, .bg-block h2, .bg-block h3, .bg-block h4, .bg-block h5, .bg-block h6, .bg-image h1, .bg-image h2, .bg-image h3, .bg-image h4, .bg-image h5, .bg-image h6, .bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary h4, .bg-primary h5, .bg-primary h6, .bg-secondary h1, .bg-secondary h2, .bg-secondary h3, .bg-secondary h4, .bg-secondary h5, .bg-secondary h6 { color: white; }

.pb-s { padding-bottom: 200px !important; }

.free { margin-top: -200px !important; background: white; }

.no-styling { margin: 0; padding: 0; list-style: none; }

.two li { width: 50%; float: left; }

.icons li::before { font-family: "Font Awesome 5 Free"; content: "\f14a"; margin-right: 0.4rem; font-size: 1.2rem; }

.nope::before { content: "" !important; color: red !important; }

.icons.color li::before { color: #0C7235; }

.box { position: absolute; }

.box-1 { left: -100px; width: 80px; height: 80px; }
