$primary: #31845D;
$secondary: #5CB089;
$headers: #0D9958;
$block: #5CB089;
$button: #00BF66;
$logo: #0C7235;
$numbers: #2A6650;
.text-numbers {
  color: $numbers;
}
.help, .domain, .myb {
  margin-top: 9rem!important;
  margin-bottom: 9rem!important;
}
.ddos {
  padding-top: 300px;
  padding-bottom: 100px;
}
.container p {
  font-size: 1.1rem;
}
.discord {
  padding: 4rem 0;
}
.bg-logo {
  background-color: $logo;
  color: white;
}

.bg-block {
  background-color: $block!important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  border-color: #0D9958;
  transition: all 0.4s;
}

.navbar-light .navbar-nav .nav-link {
  display: block;
  padding: 2rem 0.7rem;
  border-bottom: 3px solid transparent;
  color: black;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: $headers;
  font-family: 'Lato', sans-serif;
}

.scrollprotection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.borders::after,
.borders::before,
.footer::before,
.slope-white-bottom::after,
.slope-white-top::before {
  position: absolute;
  right: 0;
  left: 0;
  height: 200px;
  content: " ";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slope-white-bottom::after {
  bottom: 0;
  background-image: url("../images/white-bottom.svg");
}

.slope-white-top::before {
  top: 0;
  background-image: url("../images/white-top.svg");
}

.borders::before,
.footer::before {
  top: -100px;
}

.borders::after {
  bottom: -100px;
}

.block1::before {
  background-image: url("../images/block1-top.svg");
}

.block1::after {
  background-image: url("../images/block1-bottom.svg");
}

.block2::before,
.footer::before {
  background-image: url("../images/block2-top.svg");
}

.block2::after {
  background-image: url("../images/block2-bottom.svg");
}

.bg-primary {
  background-color: $primary!important;
}

.text-primary {
  color: $primary!important;
}

.bg-secondary {
  background-color: $secondary!important;
}

.text-secondary {
  color: $secondary!important;
}

.bg-block a,
.bg-logo a,
.bg-primary a,
.bg-secondary a {
  color: white!important;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: $button;
  border-color: $button;
  box-shadow: 0 5px 20px -6px rgba(7,145,11,0.65);
}

.btn-primary:focus,
.btn-primary:hover {
  color: $button!important;
  background-color: white;
}

.btn-outline-primary {
  color: $button;
  background-color: white;
  border-color: $button;
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
  color: white;
  color: $button;
  background-color: $button;
}

.bg-image {
  color: white;
}

.navbar-brand img {
  max-height: 40px;
}

.banner {
  .top-nav {
    padding: 0.5rem 1rem;
  }
}

.home-welcome {
  min-height: 35vw;
  background-image: url("../images/screenshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.vps {
  min-height: 20vw;
  background-image: url("../images/screenshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.shadow {
  box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.09);
}

img.shadow {
  padding: 10px;
}

section {
  header {
    text-align: center;
  }

  footer {
    position: absolute;
    right: 0;
    left: 0;
    text-align: right;
    padding: 0 2rem;
  }

  .container {
    position: relative;
  }
}

.container img {
  max-width: 100%;
  height: auto;
}

.bg-block,
.bg-image,
.bg-primary,
.bg-secondary {
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}
$slope: 200px;

.pb-s {
  padding-bottom: $slope!important;
}

.free {
  margin-top: -$slope!important;
  background: white;
}

.no-styling {
  margin: 0;
  padding: 0;
  list-style: none;
}

.two li {
  width: 50%;
  float: left;
}

.icons li::before {
  font-family: "FontAwesome";
  content: "\f14a";
  margin-right: 0.4rem;
  font-size: 1.2rem;
}

.nope::before {
  content: "\f00d"!important;
  color: red!important;
}

.icons.color li::before {
  color: $logo;
}

.box {
  position: absolute;
}

.box-1 {
  left: -100px;
  width: 80px;
  height: 80px;
}
